@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-color: #FAF9F6;
}
*{
    /* font-family: 'Dosis', sans-serif; */
    font-family: 'Ysabeau Office', sans-serif;
    
}
/* Navbar.jsx */
#header {
    /* background-color: #D2E7FF; Grey background */
    background-color:#FAF9F6;
    padding: 10px 10px; /* Some padding */
    color: black;
    /* text-align: center; Centered text */
    font-size: 20px; /* Big font size */
    position: fixed; /* Fixed position - sit on top of the page */
    width: 100%; /* Full width */
    transition: .7s; /* Add a transition effect (when scrolling - and font size is decreased) */
    color: black;
    z-index: 100;
  }
/* .mx-auto{
    color: black;
} */
/* Navbar.css */

@media (max-width: 990px) {
  /* Center the logo in the mobile view */
  .navbar-brand,
  .navbar-collapse  {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  /* Move the toggle button to the next line in the mobile view */
  .navbar-collapse {
    flex-basis: 100%;
    order: 2;
  }
}



/* CustomNavbar.css */

/* Set the dropdown item text color to black */
.navbar .nav-item .nav-link.dropdown-toggle,
.navbar .nav-item .nav-link.dropdown-item {
  color: black;
}

/* Set the active dropdown item text color to black */
.navbar .nav-item .nav-link.dropdown-item.active,
.navbar .nav-item .nav-link.dropdown-item:active,
.navbar .nav-item .nav-link.dropdown-item:hover {
  color: black;
}

/* Navbar.jsx */




/* Home.jsx */
/* .profile-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.profile {
  width: 100%;
  max-width: 600px;
  text-align: center;
  margin: 50px 20px;
} */

.bigger-profession {
  font-size: 24px; /* You can adjust the font size as needed */
}

.profile-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile {
  text-align: center;
  max-width: 500px; /* Add max-width to limit the width of the profile section */
  width: 100%; /* Make the profile section take full width inside .profile-container */
}

.profile-image {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 0 auto; /* Center the image horizontally */
  margin-bottom: 20px;
}

.name {
  font-size: 36px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.description {
  font-size: 18px;
  color: #666;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  justify-content: center;
}

.hire-button,
.contact-button {
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.hire-button {
  background-color: #f44336;
  color: #fff;
}

.contact-button {
  background-color: #2196f3;
  color: #fff;
}
.resume-button {
  background-color: #0B6623;
  color: #fff;
}

/* Mobile Responsive Styles */
@media (max-width: 768px) {
  .profile-container{
    padding-top: 20%;
  }
  .profile-image {
    width: 150px;
    height: 150px;
  }

  .name {
    font-size: 24px;
  }

  .description {
    font-size: 16px;
  }

  .hire-button,
  .contact-button {
    font-size: 14px;
    padding: 8px 16px;
  }
}


/* Rest of your existing styles for profile, profile-image, name, description, and buttons */





#myimage{
    width: 100%;
    height: 50vh;
}
#mycontent{
    text-align: justify;
}
#myname{
    color: red;
    text-shadow: 1px 1px 2px rgba(219, 219, 219, 0.47);
}

@media only screen and (max-width:500px){
    #home{
        padding-top: 20%;
        height: 100vh;
    }
    #mycontent{
        text-align: justify;
    }
   #extracontent{
    display: none;
   }
   #cme{
    display: none;
   }
  
}

/* Home.jsx */


/* about.jsx */
/* About.css */
.about-container {
  width: 100%;
  min-height: 100vh; /* Use min-height instead of height to fill the viewport */
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(180deg, #0e0e10 0%, #1c1c1f 100%); */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) Add box shadow to the container
}

.about-content {
  max-width: 600px;
  padding: 20px;
  border-radius: 10px;
}

.about-heading {
  text-align: center;
  margin-bottom: 20px;
}

.about-title {
  font-size: 2rem;
  font-weight: bold;
  color: black
}

.about-text {
  font-size: 1.2rem;
  color:black;
  margin-bottom: 20px;
  text-align: justify;
}

.additional {
  font-style: italic;
}

/* Mobile Responsive Styles */
@media (max-width: 768px) {
  .about-content {
    padding: 10px;
    max-width: 90%;
  }

  .about-title {
    font-size: 1.5rem;
  }

  .about-text {
    font-size: 1rem;
  }

  .additional {
    font-size: 0.9rem;
  }
}




/* about.jsx */





/* work experience */


/* styles.css or your CSS file */
/* styles.css or your CSS file */

#experience{
  /* border:1px solid red; */
  padding-top: 9%;
  /* height: 100vh; */
}
.card-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  gap: 20px; /* Optional, adds some spacing between cards */
  width: 100%; /* Set the width to 100% of the parent container */
  /* Add a smooth transition for the opacity and box shadow */
  /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); */
}


.experience-card {
  /* Add your card styles here */
  width: 50%; /* Set the card width to 50% of the container */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 2%;
  transition: 0.2s ease-in;
}
.experience-card:hover{
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.bullet-list {
  /* Add styles for the bullet list here */
  list-style-type: disc; /* Use disc for solid bullets, you can use other values like circle or square */
  margin-left: 20px; /* Add some left margin to separate the bullets from the text */
  padding-left: 10px; /* Add some left padding to the list items */
}
.job-title {
  font-size: 20px; /* Set the font size to make it bigger */
  font-weight: bold; /* Optionally add bold to make it more highlighted */
  color: #333; /* Customize the color to your preference */
}
@media screen and (max-width: 767px) {
  #experience{
    padding-top: 25%;
    
  }
  .experience-card {
    width: 80%; /* Set card width to full width for mobile */
    padding: 15px; /* Adjust padding for mobile */
    margin-left:10%;
    margin-right: 10%;
    text-align: justify;
  }

  .job-title {
    font-size: 20px; /* Adjust font size for mobile */
  }
}



/* contact.jsx */


#contact{
    width: 100%;
    height: 100vh;
}

#sendBtn{
  width:50%;
  margin-left: 25%;
  padding: 2%;
}

/* ContactForm.css */

/* ContactForm.css */

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .contact-form {
    width: 100%;
    max-width: 400px; /* Limit the form width on larger screens */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  textarea {
    height: 100px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn-primary {
    background-color: #4CAF50;
  }
  
  .btn-primary:hover {
    background-color: #45a049;
  }
  
  .btn-sending {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .Toastify__toast-container {
    top: 60px;
  }
  
  /* Mobile responsiveness */
  @media (max-width: 600px) {
    .contact-form {
      max-width: 100%; /* Make the form full-width on smaller screens */
    }
  }
  

/* contact.jsx */


/* Projects.jsx */
#knowmore{
  /* border: 1px solid red; */
}
#cardtitle{
  width: 100%;
  text-align: center;
  padding: 20%;
}
.projecttitle{
  /* border: 1px solid red; */
  display: inline;
}
#projects{
  /* border: 1px solid red; */
  padding-top: 9%;
}
.projectheading{
  font-size: 2rem;
  font-weight: bold;
  color: black;
  text-align: center;
}
#projectscards{
  /* height: 100vh; */
  
  display: flex;
  /* padding-top:1% ; */
  flex-wrap: wrap;
  justify-content: space-around;
  align-content:space-around;
  gap: 5%;
}
.projectcard{
  /* border:1px solid red; */
  width: 22%;
  margin-top: 5%;
  border-radius: 50px;
  transition: 0.5s ease-in-out;
}
.projectcard:hover{
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.modalbtn{
  width: 50%;
}
@media only screen and (max-width:768px){
  #projects{
    padding-top: 30%;
    display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* border: 1px solid red; */
  
  }
  .projectcard{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
  }
}


/* projects.jsx */


/* skills.jsx */
#skills{
  width: 100%;
  height: 120vh;
  /* border:1px solid red; */
 
}
#skillsheading{
  font-size: 2rem;
  font-weight: bold;
  color: black;
  text-align: center;
  padding-top: 5%;
}
.skillscontainer{
  padding-top: 10%;
}
h6{
  text-align: center;
}

@media only screen and (max-width:768px){
  #skills{
    width: 100%;
    height: 150vh;
    /* border:1px solid red; */
   
  }
}




/* Academics.jsx */

#academics{
  padding-top: 9%;
}
.academicheading{
  font-size: 2rem;
  font-weight: bold;
  color: black;
  text-align: center;
}
#academiccards{
  /* height: 100vh; */
  
  display: flex;
  /* padding-top:1% ; */
  flex-wrap: wrap;
  justify-content: space-around;
  align-content:space-around;
  gap: 5%;
}
.academiccard{
  /* border:1px solid red; */
  width: 25%;
  margin-top: 5%;
  border-radius: 50px;
  transition: 0.5s ease-in-out;
}
.academiccard:hover{
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width:768px){
  #academics{
    padding-top: 30%;
    display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* border: 1px solid red; */
  
  }
  .academiccard{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
  }
}