
/* Navbar.jsx */
#header {
    background-color: #f1f1f1; /* Grey background */
    padding: 10px 10px; /* Some padding */
    color: black;
    /* text-align: center; Centered text */
    font-size: 20px; /* Big font size */
    position: fixed; /* Fixed position - sit on top of the page */
    width: 100%; /* Full width */
    transition: 0.5s; /* Add a transition effect (when scrolling - and font size is decreased) */
  }

.navbar-custom{
    background-color: #f1f1f1;
}



/* Navbar.jsx */




/* Home.jsx */
.home{
    padding-top: 5%;
    width: 100%;
    height: 120vh;
}



/* Home.jsx */